html {
    font-family: "Lucida Sans", sans-serif;
}

header nav {
    position: fixed;
    padding: 1%;
    top: 0;
    width: 100%;
    height: auto;
    text-align: right;
    font-size: 20px;
    background: linear-gradient(rgb(250, 246, 247), rgb(177, 173, 174));
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 8%;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: auto;
}

header nav ul li a:hover {
    color: rgb(40, 83, 177);
    text-decoration: none;
    display: block;
    text-align: center;
}

#home_section {
    display: flex;
}

#home_section .my_name {
    color: rgb(42, 40, 155);
}

#home_section h4 {
    font-style: oblique;
    font-family: italic;
}

#home_section>div {
    flex: 1;
}

#home_section .profile {
    flex: 0.3;
    width: 30%;
    border-radius: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: auto;
}

#home_section .content {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

#home_section .content {
    justify-content: start;
    align-items: flex-end;
    margin-bottom: 110px;
}

#home_section .content h4 {
    width: 100%;
    justify-content: start;
    align-items: flex-end;
}

#home_section .profile img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.19);
}

#home_section .profile h3,
h5,
h6 {
    text-align: center;
}

#projects_section h3 {
    font-size: 25px;
    color: rgb(9, 22, 138);
}

#projects_section .dishanjali_app {
    display: flex;
    font-size: 20px;
}

#projects_section .dishanjali_app>div {
    flex: 1;
}

#projects_section .hisaab_app {
    font-size: 20px;
}

#projects_section .content {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

#projects_section .dishanjali_app .dishanjali_image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30%;
}

#projects_section .dishanjali_app .dishanjali_image {
    flex: 0.3;
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: auto;
}

#projects_section .padding {
    width: 100%;
    margin-top: 100px;
}

#projects_section .hisaab_app {
    display: flex;
}

#projects_section .hisaab_app>div {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    flex: 1;
}

#projects_section .hisaab_app .hisaab_image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.685);
}

#projects_section .hisaab_app .hisaab_image {
    flex: 0.3;
    width: 30%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: auto;
}

#contact_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

#contact_section>h3 {
    margin-left: 80%;
    margin-right: 0%;
    font-size: 25px;
    font-style: oblique;
    color: rgb(139, 139, 207);
}

#contact_section>table {
    width: 100%;
    padding: 10%;
    border: 5px solid rgb(151, 136, 136);
    border-radius: 20%;
    font-size: 20px;
}

#contact_section>table>tr>td,
th {
    width: 100%;
}

#contact_section .left_table {
    padding: 5px;
    font-size: 50px;
}

#contact_section .or {
    padding: 10px;
    font-size: 50px;
    font-family: fantasy;
}

#time {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}

#toast {
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
    border: white;
    background-color: white;
    color: rgb(54, 54, 109);
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    header nav {
        font-size: 15px;
    }
    #home_section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
    }
    #home_section>div.profile {
        width: 50%;
    }
    #projects_section h3 {
        font-size: 20px;
    }
    #projects_section .dishanjali_app {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        font-size: 15px;
    }
    #projects_section .hisaab_app {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        padding-bottom: 20px;
        font-size: 15px;
    }
    #projects_section .padding {
        margin-top: 30px;
    }
    #contact_section>table {
        width: 10%;
        padding: 5px;
        margin: 0px;
        border: 1px solid rgb(151, 136, 136);
        border-radius: 10%;
        font-size: 15px;
    }
    #contact_section>table>tr>td,
    th {
        width: 10px;
    }
    #contact_section .or {
        padding: 1px;
    }
    #contact_section {
        display: flex;
        flex-direction: vertical;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        padding: 0mm;
    }
    #contact_section>h3 {
        margin-left: 20%;
        margin-right: 0%;
        font-size: 15px;
        font-style: oblique;
        color: rgb(139, 139, 207);
    }
    #contact_section .or {
        padding: 10px;
        font-size: 15px;
    }
    #contact_section .left_table {
        padding: 5px;
        font-size: 15px;
    }
    #time {
        position: fixed;
        bottom: 1px;
        font-size: 15px;
        padding: 5px;
    }
    #toast {
        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
        border: white;
        background-color: white;
        color: rgb(54, 54, 109);
        font-size: 15px;
    }
}